:root {
  --currentColor: #b90470;
}

@font-face {
  font-family: poppins;
  src: url(../fonts/poppins/Poppins-Regular.ttf);
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: poppins;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0px auto;
}

.row {
  display: flex;
}

/********************************************/
header {
  background-color: var(--currentColor);
  display: flex;
  justify-content: space-between;
  color: #fff;
}

header .headerTop {
  height: 50px;
  justify-content: space-between;
  align-items: center;
}

header .headerTop .left .phoneNumber,
header .headerTop .right .socialMediaIcon {
  color: #fff;
}

header .headerTop .left .phoneNumber {
  margin-right: 30px;
}

header .headerTop .right .socialMediaIcon {
  margin-left: 20px;
}

.banner {
  background-image: url(../images/banner.png);
  padding: 30px;
}

main .banner .navbar {
  justify-content: space-between;
  background-color: #fff;
  height: 70px;
  padding: 0 50px;
  align-items: center;
}

main .banner .navigation .link {
  color: #000;
  margin-left: 20px;
}

main .contact .contactButton {
  background-color: var(--currentColor);
  color: #fff;
  padding: 10px 30px;
  border: 1px solid transparent;
}

main .contact .contactButton:hover {
  background-color: transparent;
  border: 1px solid var(--currentColor);
  color: #000;
}
