:root {
  --currentColor: #b90470;
}

@font-face {
  font-family: poppins;
  src: url(../fonts/poppins/Poppins-Regular.ttf);
}

@font-face {
  font-family: montserrat;
  src: url(../fonts/montserrat/Montserrat-VariableFont_wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: poppins;
}

.container {
  max-width: 1140px;
  width: 100%;
  margin: 0px auto;
}

.row {
  display: flex;
}

.myButton {
  background-color: var(--currentColor);
  color: #fff;
  padding: 10px 30px;
  border: 1px solid transparent;
  box-shadow: 0 0 10px var(--currentColor);
  border-radius: 4px;
  transition: all 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.myButton:hover {
  background-color: transparent;
  border: 1px solid var(--currentColor);
  color: #000;
}

/********************************************/
header {
  background-color: var(--currentColor);
  display: flex;
  justify-content: space-between;
  color: #fff;
}

header .headerTop {
  height: 50px;
  justify-content: space-between;
  align-items: center;
}

header .headerTop .left .phoneNumber,
header .headerTop .right .socialMediaIcon {
  color: #fff;
}

header .headerTop .left .phoneNumber {
  margin-right: 30px;
}

header .headerTop .right .socialMediaIcon {
  margin-left: 20px;
}

.banner {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(../images/banner.png);
  padding: 60px 0;
  background-position: center;
}

main .banner .navbar {
  justify-content: space-between;
  background-color: #fff;
  height: 70px;
  padding: 0 50px;
  align-items: center;
}

main .banner .navigation .link {
  color: #000;
  margin-left: 20px;
}

main .banner .navigation .link:hover {
  border-bottom: 2px solid var(--currentColor);
}

main .slogan {
  padding: 60px 0 0 0;
  color: #fff;
}

main .slogan .title {
  font-size: 64px;
  font-family: montserrat;
}

main .slogan .title2 {
  margin: 20px 0;
}

main .slogan p {
  width: 58ch;
  text-align: justify;
}

.aboutButton {
  margin-top: 20px;
  display: block;
  width: fit-content;
}

.aboutButton:hover {
  color: #fff;
}

main .aboutSection .aboutUs {
  padding: 50px 0;
}

main .aboutSection .aboutUs .left,
main .aboutSection .aboutUs .right {
  width: 50%;
}

main .aboutUs .title,
main .portfolioSection .portfolioTitle .title,
main .mission .title,
main .teams .teamsContent .teamsLeftSection {
  font-size: 45px;
  color: #343a3e;
  position: relative;
}

main .aboutSection .aboutUs .title::before,
main .portfolioSection .portfolioTitle .title::before,
main .mission .title::before,
main .teams .teamsContent .teamsLeftSection::before {
  content: "Haqqimizda";
  position: absolute;
  font-size: 15px;
  top: -20px;
  color: var(--currentColor);
}

main .portfolioSection .portfolioTitle .title::before {
  content: "Xidmətlər";
}

main .aboutSection .aboutSectionImageAndContent img {
  width: 100%;
}

main .aboutSection .aboutSectionImageAndContent .contentText {
  text-align: center;
  margin: 30px auto;
  width: 80%;
  color: #343a3e;
}

main .aboutSection {
  padding: 50px 0;
}

main .portfolioSection .cards {
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-end;
}

main .portfolioSection .cards .card {
  width: calc(25% - 15px);
  border: 1px solid #ddd;
  box-shadow: 0 0 10px #ddd;
  background-color: #fff;
  position: relative;
}

main .portfolioSection .cards .card img {
  width: 100%;
}

main .portfolioSection .cards .card h2 {
  color: var(--currentColor);
  font-size: 20px;
  padding: 10px;
}

main .portfolioSection .cards .card p {
  font-size: 14px;
  padding: 10px;
}

main .portfolioSection .cards .card:nth-child(4),
main .portfolioSection .cards .card:last-child {
  top: -50px;
}

main .portfolioSection .cards .card:nth-child(2),
main .portfolioSection .cards .card:nth-child(5) {
  top: 50px;
}

main .portfolioSection .cards .card:first-child {
  top: 100px;
}

main .mission {
  background-color: var(--currentColor);
  clip-path: polygon(0 0, 100% 37%, 100% 100%, 0% 100%);
  z-index: -1;
  position: relative;
  top: -150px;
  padding: 50px 0;
}

main .mission .title:first-child {
  color: #fff;
  margin-top: 200px;
}

main .mission .title::before {
  content: "Prinsiplərimiz";
  color: #fff;
}

main .mission .cards {
  margin-top: 100px;
  justify-content: space-between;
}

main .mission .cards .card .cardTitle {
  margin: 0;
  font-size: 25px;
  color: var(--currentColor);
}

main .mission .cards .card p {
  font-size: 14px;
  margin: 20px 0;
}

main .mission .cards .card img {
  width: 91px;
  height: 96px;
  float: right;
}

main .mission .cards .card {
  background-color: white;
  padding: 15px 15px 5px 15px;
  color: black;
  width: 30%;
  border-radius: 5px;
  box-shadow: 0 0 15px 0 white;
}


main .teams .teamsContent .teamsLeftSection::before {
  content: 'Əməkdaşlarımız';
}

main .teams .teamsContent {
  /* align-items: baseline; */
}

main .teams .teamsContent .teamsLeftSection,
main .teams .teamsContent .teamsRightSection {
  width: 50%;
}

main .teams .teamsContent .teamsRightSection p {
  color: #343A3E;
  margin-top: 30px;
}